/*
==============
VARIABLES AND COLORS
==============
*/

:root {
    /*
    ==============
    COMMON VARIABLES 
    ==============
    */
    --header-height: 3.5em;
    --content-width: 60em;
    --content-width-reduced: 20em;
    --content-padding: 1em;
	  --border-radius-link: 0.3rem;       
    --border-radius: 2rem;
    --border-thin: 0.2rem;
    --auth-form-width: 30em;
    /*
    ==============
    COLOR  (LIGHT)
    ==============
    */
    --txtcolor: #101010;
    --bgcolor: #efefef;
    --secondarybgcolor: #ffffff;
    --link-color: #006633;              
	  --link-hover-color: #00994d ;    
	  --link-visited-color: #685925;      
	  --link-visited-hover-color: #8E44AD;
	  --focus-outline-color: #e0e0e0;    
    
    --error: #A24C46;
}

/*
==============
COLOR (DARK)
==============
*/

:root.dark {

    --bgcolor: #040404;
    --txtcolor: #efefef;
}

/*
==============
FONT
==============
*/

@font-face {
    font-family: "Onest";
	  src: url("../fonts/Onest-VariableFont_wght.ttf") format("truetype");
	  font-weight: 100 900;
	  font-display: swap;
}

/*
==============
COMMON STYLE
==============
*/

* {
	margin: 0;
	font-family: "Onest", ".AppleSystemUIFont", "Arial", sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

img, picture {
	display: block;
	max-width: 15em;
}

svg {
    width: 2.25em;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

html {
	scroll-padding-top: var(--header-height);
	height: 100%;
}

body > #page-header,
body > #page-footer,
body > main {
	padding: var(--content-padding);
}

body { 
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	gap: 0.5em;
	line-height: 1.5;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	max-width: var(--content-width);
	margin: 0 auto;
	min-height: 100%;
}

a {
	color: var(--link-color);
}

a:hover,
a:focus {
	outline: 0.1rem solid var(--focus-outline-color);
	border-radius: var(--border-radius);
	color: var(--link-hover-color);
}

a:visited {
	color: var(--link-visited-color);
}

a:visited:hover,
a:visited:focus {
/*	color: var(--link-visited-hover-color); */
}


/*
==============
SCREEN READER / KEYBOARD USERS
==============
*/
.sr-a11y-only,
.skip-to-content {
	position: absolute;
  width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.skip-to-content:focus {
	color: white;
	background-color: var(--link-color);
	z-index: 999;
	width: auto;
	height: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
	clip: auto;
	padding: 0.5em;
}

.sr-a11y-only {

} 

/*
==============
HEADER
==============
*/


#page-header {
	position: sticky;
	top: 0;
	background-color: var(--bgcolor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	height: var(--header-height);
}

#page-header ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}

#page-header li {
	margin: 0 0.5em;
}

#page-header li a,
#accountButton {
	display: block;
}

#page-header li a:hover,
#accountButton:hover {
	background-color: var(--secondarybgcolor);
}

#page-header li .active,
#accountButton.active span {
	display: block;
	font-weight: 600;
}

#page-header li a {
	padding: 0.5em;
}

#page-header .action-buttons {
	display: flex;
	align-content: center;
	gap: 0.5em;
	height: 2.25em;
}

#accountButton {
	display: flex;
	align-items: center;
	gap: 0.5em;
	border-radius: var(--border-radius) 2.25em 2.25em var(--border-radius);
	padding: 0 0 0 0.5em;
}

#page-header #logo {
	padding: 0.5em;
	margin: -0.5em;
}

#page-header svg {
    height: 2.25em;
    width: 2.25em;
}

#logo,
#accountButton {
	fill: var(--txtcolor);
}

#dropdown-menu-toggle {
	display: none;
	color: var(--txtcolor);
}

#themeToggle {
  color: var(--txtcolor);
  padding: 0;
	background: transparent;
	border: 0;
	cursor: pointer;
}

#themeToggle svg.sun {display: none}

html.dark #themeToggle svg.moon {display: none}
html.dark #themeToggle svg.sun {display: flex}

.active {
	background-color: var(--focus-outline-color);
	pointer-events: none;
	padding: 0.5em;
	border-radius: var(--border-radius);
}
/*
==============
BREADCRUMB
==============
*/

#breadcrumb {
	background-color: var(--secondarybgcolor);
	font-size: 0.9em;
	padding: 0.5em var(--content-padding);
	border-radius: var(--border-radius);
	z-index: 5;
}

/*
==============
SERVER MESSAGES
==============
*/

#server-msg {
	margin: 1em 0;
	padding: 0;
	border: 0.2em solid;
	border-radius: var(--border-radius);
	list-style-type: none;
}

#server-msg li {
	padding: 0.5em;
}

/*
==============
PAGAES
==============
*/

/*
==============
INDEX
==============
*/

#hero h1 {
	font-size: 3em;
	text-align: center;
}

#hero p {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0.5em;
}

#hero .logo-image {
    margin: auto;
    background-repeat: no-repeat;
	  background-size: contain;
    width: 16em;
    height: 8em;
    background-image: url("../img/logo.svg");
}

.content {
	display: flex;
	flex-flow: row-reverse wrap;
	gap: 2em;
	align-items: center;
	justify-content: center;
	background-color: var(--secondarybgcolor);
	border-radius: var(--border-radius);
	padding: 2em;
	margin-top: 2.5em;
}

.content > .content-text {
	flex: 1 0 15em;
}

.content-text ul li::after {
    content: ";";
}

.content-text ul li:last-child::after {
    content: ".";
}

.image {
	background-repeat: no-repeat;
	background-size: contain;
	width: 15em;
	height: 15em;
}

.image.people-bg {
	background-image: url("../img/people-bg.svg");
}

.image.free-bg {
	background-image: url("../img/free-bg.svg");
}

/*
==============
LOGIN
==============
*/

#auth main {
	max-width: var(--auth-form-width);
	margin: 0 auto;
	background-color: var(--secondarybgcolor);
	border-radius: var(--border-radius);
	text-align: center;
}

#authForm {
	margin-top: 1.5em;
	text-align: left;
}

#authForm > fieldset {
	border-color: transparent;
}

#authForm > fieldset input {
	margin-bottom: 1em;
}



/*
==============
SEARCH BAR
==============
*/

#search {
	display: flex;
	gap: 0.5em;
	width: 60%;
	margin: 1.5em auto;
}

.home #search {
	max-width: var(--content-reduced-width);
}

#search .search-utility {
	flex-grow: 1;
	display: flex;
	overflow: hidden;
}

#search input,
#search select {
  padding: 0.5em;
  border-radius: var(--border-radius);
  border: var(--border-thin);
}

#search input {
    flex: 2 0;
}

#search select {
    flex: 1 0;
}

#search button[type=submit] {
	flex: 0 1;
	display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	font-size: 1em;
  border-radius: var(--border-radius);
  border: var(--border-thin);
  background-color: var(--link-color);
  color: var(--secondarybgcolor);
}

#search button[type=submit]:hover {
    background-color: var(--link-hover-color);
}

/*
==============
FOOTER
==============
*/

#page-footer {
	display: flex;
	flex-flow: row wrap;
	background-color: var(--secondarybgcolor);;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	padding: 0.5em 1em 1em;
	margin-top: 1.5em;
}

#attribution {
	font-size: .8em;
	margin-top: 1.5em;
}

#page-footer > div:not(:last-child) {
	flex: 1 0 auto;
	width: 12.5em;
	padding: 1em 0;
}

#page-footer .title {
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	margin-bottom: 0.5em;
}

#page-footer ul {
	list-style-type: none;
	padding: 0;
}

#page-footer li {
	padding: 0.5em 0;
}

#page-footer .special-attribution {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-top: 2em;
	gap: 1em;
	font-size: 0.8em;
}

.special-attribution p {
	flex: 1 0 6.25em;
}

.special-attribution img {
	flex: 0 0 3em;
	width: 3em;
	margin-top: 0.4em;
}

/*
==============
FORM
==============
*/

input, textarea, button, select {
	width: 100%;
	padding: 0.5em;
}

fieldset, input, textarea, button, select {
	border-radius: var(--border-radius);
	border: var(--border-thin) solid var(--focus-outline-color);
}

form .required {
	margin-left: 0.5ch;
	color: var(--error);
}

button[type=submit] {
	color: var(--secondarybgcolor);
	background-color: var(--link-color);
	border: transparent;
	font-weight: 600;
	font-size: 1.2em;
}

button[type=submit]:hover,
button[type=submit]:focus {
	background-color: var(--link-hover-color);
}


/*
==============
CARDS
==============
*/

.cards{
	list-style-type: none;
	padding: 0;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5em;
}

.card {
	background-color: var(--secondarybgcolor);
	border-radius: var(--border-radius);
}

.card:hover,
.card:focus-within {
	transform: scale(1.04);
}

.card > a {
	display: flex;
	text-decoration: none;
	flex-direction: row;
	width: 100%;
}

